/* .montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  /* box-sizing: border-box; */
}
/* section {
  background: #ff1b68;
} */

#product-overview {
  background: #ff1b68;
  /* padding: 20px;
  border: 5px black solid;
  margin: 20px; */

  width: 100%;
  height: 528px;
  padding: 10px;
  /* border: 5px solid black;
  margin: 10px; */
  /* box-sizing: border-box; */
}

.anton-regular {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

#product-overview h1 {
  color: white;
  /* font-family: sans-serif; */
  font-family: "Anton", serif;
}

h1 {
  font-family: sans-serif;
}

/* * {
  font-family: sans-serif;
} */

.section-title {
  color: #2ddf5c;
  /* font-family: inherit; */
}

.main-header {
  background-color: #2ddf5c;
  padding: 8px 16px;
  width: 100%;
  display: inline-block;
}

/* .main-header_div {
  display: inline-block;
} */

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(
    100% - 74px
  ); /* This is 74 to count for the content of the header and the white space that was added as a part of the space between the main-header_div div and the nav, because of the inline-block style rule that we added*/
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  /* padding: 20px; */
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
